.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4rem 0 0 0;
    transition: all .3 ease 0s;
}

.logo {
    display: flex;
    height: 5rem;
    font-weight: 700;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.logo>img {
    width: 3rem;
    height: 3rem;
}

.logo>span>span {
    color: var(--pink);
}

.menu {
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}