.TableContainer {

}

.tableTitle {
    margin: 2rem 0;
}


@media screen and (max-width: 1200px) {
    .TableContainer {
        width: 170%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .TableContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18rem;
    }
}
